{% extends 'base.html.twig' %}

{% block title %}
  {{ harmony.site_name }}
{% endblock %}

{% block stylesheets %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ asset_theme('css/bootstrap.min.css') }}"/>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ asset_theme('css/general.css') }}"/>
{% endblock %}

{% block header %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md fixed-top border-bottom shadow-sm" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{{ path('homepage') }}">{{ harmony.site_name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>CMF Sandbox
            <small>Symfony Content Management Framework</small>
          </h1>
          <p>Welcome to the demo project of the Symfony CMF! Inside this application, you can play with almost all
             features included in the Symfony CMF.</p>
          <p><a class="btn  btn-primary  btn-lg" href="http://symfony.com/doc/current/cmf/">Read the documentation</a>
            <a class="btn  btn-primary  btn-lg" href="https://github.com/symfony-cmf/cmf-sandbox" role="button">Fork on
                                                                                                                GitHub</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so
                          you can use it as a boilerplate or starting point for you own landing page designs! This
                          template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock %}